/* TABLE */

.default-table {
  width: 100%;
  border-collapse: collapse;
  border: 1px solid #ddd;
  font-size: 14px;
}

.default-table thead th {
  text-align: left;
  padding: 8px;
  background-color: #f2f2f2;
  border-bottom: 1px solid #ddd;
}

.default-table tbody td {
  text-align: left;
  padding: 8px;
  border-bottom: 1px solid #eee;
}

.default-table tbody tr:hover {
  background-color: #fafafa;
}

.default-table button {
  padding: 6px 12px;
  cursor: pointer;
  background: #f2f2f2;
  border: 1px solid #ddd;
}

/* SEARCH */

.search-box {
  width: 100%;
  padding: 8px 12px;
  border-radius: 6;
  outline: none;
}

/* SELECT */

.select-box {
  width: 100%;
  padding: 8px 12px;
  border-radius: 6;
  outline: none;
}
